/*@import url("reset.css");*/

html,body{
    
}
.header{
	/*background:#cacaca;*/
	height:300px;
}
.row{
	margin-bottom:15px;
}
img{
	width:100%;
}
.table{
	margin-bottom:15px;
}
/* header s */

/* header e */

/* banner s */

/* banner e */

/* content s*/

/* content e */